<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>314751189383-jctp2sv4c30kali2pmehn4ou7iheqb28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314751189383-jctp2sv4c30kali2pmehn4ou7iheqb28</string>
	<key>API_KEY</key>
	<string>AIzaSyCVLR90vwdPzT-j0l3iI-OziKVwOhOL2ns</string>
	<key>GCM_SENDER_ID</key>
	<string>314751189383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>josh123.test</string>
	<key>PROJECT_ID</key>
	<string>shittyvine</string>
	<key>STORAGE_BUCKET</key>
	<string>shittyvine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314751189383:ios:31d150cb70c5aef4</string>
	<key>DATABASE_URL</key>
	<string>https://shittyvine.firebaseio.com</string>
</dict>
</plist>